/* RESET */
body{
    padding: 0;
    margin: 0;
    /* backdrop-filter: brightness(.5) blur(2px); */
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    color: white;
}

.app_container {
    height: 80vh;
    width: 60vw;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
    padding: 20px;
}
.app_container p{
    margin: 20 0 50px 0;
}
.name-input{
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
}
.emtpy-input{
    border: 1px solid red;
}

.name-input:focus {
    filter: drop-shadow(0px 0px 1px white);
    outline: none;
    color: white;
}

.name-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.predict-btn{
    background: white;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
}

.predict-btn:hover {
    filter: drop-shadow(0px 0px 1px white);
}

.result{
    margin-top: 20px;
    max-width: 80%;
}

.result p{
    margin: 10px;
}

@media only screen and (max-width: 1000px) {
    .app_container {
        width: 65vw;
    }
}

@media only screen and (max-width: 800px) {
    .app_container {
        width: 70vw;
    }
}

@media only screen and (max-width: 600px) {
    .app_container {
        width: 75vw;
    }
}

@media only screen and (max-width: 500px) {
    .app_container {
        width: 80vw;
    }
}

@media only screen and (max-width: 400px) {
    .app_container {
        width: 90vw;
    }
}